<!DOCTYPE html>

<head>

    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

</head>

<body>
    <a href='fane.html'>fane</a>
    <form action='/produs/adaugare' method="POST" enctype="multipart/form-data">
        denumire<input type="text" id="userName" value="" />
        specificatii<input type="text" id="specificatiiMinime" value="" />
        descriere<input type="text" id="descriere" value="" />
        pret<input type="number" id="pret" value="" />
        Image<input type="file" name="image" id="image" />
        <input type="button" id="submit" value="Submit" />
    </form>
    <script src="./index.js"></script>
</body>